.gtext-edit-button,
.gtext-remove-button {
  float: right;
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
  margin-right: 10px;
}

.gtext-edit-button {
  background-image: url('../img/replace.png');
}

.gtext-remove-button {
  background-image: url('../img/delete.png');
}

.gtext-translate-buttons {
  height: 40px;
  float: right;
  width: 20px;
}

.gtext-translate-buttons .ajax-progress {
  margin: 0;
}

.gtext-translate-google-button,
.gtext-all-translate-google-button {
  background-image: url('../img/translate.png');
  cursor: pointer;
  float: right;
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
  margin-top: 3px;
}

.gtext-translatable-field {
  width: calc(100% - 25px) !important;
}

.gtext-translatable-field,
.gtext-translate-buttons {
  display: inline-block;
}

.ajax-progress.ajax-progress-throbber {
  float: right;
}

.settings-link {
  color: #838383;
  font-size: 10px;
  float: right;
  text-transform: none;
}

.gtext-field-changed {
  background-color: #ffd !important;
}

.gtext-translate-form table tr td:first-child,
.gtext-translate-form table tr th:first-child {
  width: 25vw;
}

.gtext-translate-form table tr td+td {
  position: relative;
}

.ajax-progress.ajax-progress-throbber {
  position: absolute;
  right: 26px;
}

.gtext-in-process div:not(.ajax-progress__throbber),
.gtext-in-process div:not(.ajax-progress) {
  filter: grayscale(1);
}

.gtext-translate-form .fixed-save-button {
  background-image: url('../img/save.png');
  width: 23px;
  height: 23px;
  background-size: 100% 100%;
  cursor: pointer;
}

.gtext-translate-form .fixed-save-button-wrapper,
.gtext-translate-form tr td:last-child {
  width: 23px !important;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: red;
}

.gtext-translate-form tr td:last-child {
  background-color: #0550e61a;
}

.gtext-translate-form tr td:first-child .gtext-all-translate-google-button {
  float: right;
  width: 15px;
  margin: 0;
  height: 15px;
  background-size: 100% 100%;
  margin-right: 4px;
}

.gtext-edit-form-link {
  margin: 0;
  padding: 0;
  float: right;
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
  margin-right: 10px;
}

.google-api-status {
  float: right;
  font: initial;
}

.google-api-status .api-settings-link {
  overflow: hidden;
  background-image: url("../img/settings.svg");
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
  font-size: 0;
  display: inline-block;
  margin-left: 10px;
}

.google-api-status.not-set {
  color: red;
}

.gtext-item-strike {
  text-decoration: line-through;
}

.gtext-click-copy {
  margin: 0;
  padding: 0;
  float: right;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.gtext-click-copy + .gtext-click-copy{
  margin-right: 10px;
}
.gtext-context-wrapper {
  float: left;
}
.gtext-click-copy-wrapper {
  clear: both;
  float: left;
  margin-top: 10px;
}